 QMainWindow {
    background-color: #f8f9fa;
 }
 
 QMenuBar {
    font-size: 14px;          
    padding: 6px;            
    background-color: #f0f0f0; 
}
            
QMenuBar::item {
    padding: 8px 16px;       
    margin-right: 4px;
    border-radius: 4px;
}

QMenuBar::item:selected {    
    background-color: #d0d0d0;
}

QMenu {
    font-size: 13px;          
    padding: 5px;
}

QMenu::item {
    padding: 8px 25px 8px 15px; 
}

QMenu::item:selected {
    background-color: #0078d7;
    color: white;
}